data/
save/
data_cache/
cache/
runs/
baselines/

.DS_Store
.ipynb_checkpoints
.idea
*lock
*/*/*/*.lock
.vscode/
__pycache__/
wandb/
*/__pycache__/
*/.ipynb_checkpoints
*/*/__pycache__/
*/*/.ipynb_checkpoints
*/*/*/__pycache__/
*/*/*/.ipynb_checkpoints